@font-face {
    font-family: 'Rubik';
    src: url('/src/font/Rubik-VariableFont_wght.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: hsl(226, 43%, 10%);
    font-family: 'Rubik';
    color: white;
    font-weight: 300;
    font-size: 1rem;
}

.cardBigRoot{
width: 23%;

}

.cardOuter{
    background-color: hsl(235, 46%, 20%);
    padding: 1.5em;
    position: relative;
    bottom: .65em;
    z-index: -1;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: hsl(235, 45%, 60%);
}
.cardOuter p{
margin-top: .8em;
}
.cardInner{
    background-color:  hsl(246, 80%, 60%);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.userReport{
padding: 0em 1.5em  3em 1.5em;
}
.headingText{
font-size: .8rem;
color: hsl(235, 45%, 60%);
font-weight: 400;
}
.personName{
font-size: 2rem;
font-weight: 300;
}
.smallcardParent{
width: 80%;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;

}
.cardImage{
object-fit:contain;
width: 60px;
height: 60px;
display: flex;
margin-left: auto;
margin-right: .5em;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 1em;
}
header img{
width: 15px;
height: 5px;
}
.cardTime h2{
padding: .3em  0em;
}
.card{
position: relative;
width: 30%;
}
.smallOuter{
width: 100%;
border-top-left-radius: 12px;
border-top-right-radius: 12px;

}
.smallInner{
background: hsl(235, 46%, 20%);
position: relative;
bottom: 20px;
padding: 1.3em;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
transition: background ;
}
.smallInner:hover{
background: hsl(235, 45%, 60%);
cursor: pointer
}

.hours{
font-size: 2.3rem;
padding-bottom: .1em;
}
.previous{
font-size: .8rem;
color: hsl(235, 45%, 60%);
}
.Dates p{
padding-left: 1em;
margin-bottom: .6em;
margin-top: .6em;
}
.parent{
display: flex;
width: 60%;
max-width: 850px;
justify-content: space-between;
margin: auto;
margin-top: 10%;
padding: 2em;
}

.userPic{
width: 60px;
height: 60px;
margin: 1em;
border: solid;
border-color: white;
border-radius: 100%;
}

/* Media Query for mobile and smaller screens*/
@media (max-width:550px){
.parent{
display: block;
width: 100%;
}
.smallcardParent{
display: block;
width: 100%;
}
.cardTime{
display: flex;
justify-content: space-between;
align-items: center;
}
.cardBigRoot{
width: 100%;
}
.card{
width: 100%;
}
.cardOuter{
display: flex;
justify-content: space-between;
align-items: center;
}
.cardInner{
display: flex;
align-items: center;
}
.userReport{
padding:  .7em;
}
.personName{
font-size: 1.5rem;
}
}

@media (min-width:600px){
.parent{
width: 100%;
}
}
